@model IEnumerable<Post>
@{
    ViewData["Title"] = "Index";

}

@if(TempData["success"]!= null)
{
    <h2>@TempData["success"]</h2>
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-secondary"> Post List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Post" asp-action="Create" class="btn btn-primary">
             <i class="bi bi-plus-circle-fill"></i> Create New Post
            </a>
        </div>
    </div>
</div>
<br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Posted By
            </th>
             <th>
                Post Description
            </th>
             <th>
                Picture
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    @obj.UserId
                </td>
                <td>
                    @obj.PostDescription
                </td>
                 <td >
                    <img src ="@obj.PostImage" width="200px" height="200px"></img>
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Post" asp-action="Edit" asp-route-id="@obj.Id" 
                        class="btn btn-primary"><i class="bi bi-pencil-fill"></i>Edit</a>
                         <a asp-controller="Post" asp-action="Delete" asp-route-id="@obj.Id" 
                        class="btn btn-primary"><i class="bi bi-trash-fill"></i>Delete</a>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>